body {
  background-image: url("https://www.royalcaribbeanblog.com/sites/default/files/styles/fb_style/public/fb/Boat%20vs%20ship.png?itok=5FL0wxwk");
  background-repeat: no-repeat;
  background-position: right top;



}

head {
    font-size:30px;
    text-align:center;
}