<!doctype>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Table</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
tr :hover {background-color: #D6EEEE;}

th, td {
  border: 1px solid black;
}

th {
  text-align:center;
}
</style>
<body>

<table style="width:100%">
    <caption>Inscriere facultate</caption>

    <colgroup>
        <col span="2" style="background-color: #D6EEEE">
    </colgroup>

    <colgroup>
        <col span="1" style="background-color: pink">
        <col span="2">
    </colgroup>


    <tr style="height:50px">
        <th colspan="2" style="width:170px;">Stundet </th>
        <th>Scoala</th>
        <th>Anul</th>
    </tr>

    <tr>
        <th>Prenume</th>
        <th>Nume</th>
    </tr>
    <tr>
        <td>Adina</td>
        <td>Luca</td>
        <td>Filosofie</td>
        <td>II</td>
    </tr>

    <tr>
        <td>Attila</td>
        <td>Kolya</td>
        <td>Inginerie</td>
        <td>II</td>
    </tr>
</table>





</body>
</html>